<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="Home-page">
  <p class="Home-head" id="Home-head">Welcome to Maharaja Restaurant!</p>
  <div class="Top-container">
    <div class="images">
      <img class="mySlides" src="bgimg3.jpg">
      <img class="mySlides" src="bgimg4.jpg">
      <img class="mySlides" src="bgimg2.jpg">
    </div>
    <div class="Description">
      <p class="Description-content1">
        We are what we eat! So listen to your mouth and just feel the taste. It is going to be Spicy like your friend!
        and,
        Taste is our language!
      </p>
      <p class="Description-content2">
        Everyone has a favorite restaurant that he or she loves to eat at. And here we go with the best restaurant to go
        to. This peaceful place has the most delicious food for all food lovers!
      </p>
    </div>
  </div>
  <div class="Login">
    <p class="Login-head">
      Click sign-up to create a new account or else sign-in.
    </p>
    <div class="Login-buttons">
      <%= link_to "Sign-in", new_sessions_path, class:"signin" %>
      <%= link_to "Sign-up", new_user_path, class:"signup" %>
    </div>
  </div>
  <div class="ContactUs-Container">
    <input class="ContactUs-Button" type="Button" value="Back To Top" onclick="scrollfunc()">
    <div class="ContactUs">
      <div class="ContactUs-Header">
        <div class="ContactUsHeader-Title">
          <p class="ContactUsHeader-Name">We Deliver To</p>
          <ul>
            <li class="ContactUsHeader-Details">Chennai</li>
            <li class="ContactUsHeader-Details">Trichy</li>
            <li class="ContactUsHeader-Details">Hyderabad</li>
            <li class="ContactUsHeader-Details">Mumbai</li>
            <li class="ContactUsHeader-Details">Bangalore</li>
          </ul>
        </div>
        <div class="ContactUsHeader-Title">
          <p class="ContactUsHeader-Name">Our Working Hours</p>
          <ul>
            <li class="ContactUsHeader-Details">Weekdays: 8am - 11pm<li>
            <li class="ContactUsHeader-Details">Weekends: 9am - 9pm</li>
          </ul>
        </div>
        <div class="ContactUsHeader-Title">
          <p class="ContactUsHeader-Name">Connect To Us</p>
          <ul>
            <li class="ContactUsHeader-Details">Email: maharajarestaurant.service@gmail.com<li>
            <li class="ContactUsHeader-Details">Phone: 9003871119</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) { myIndex = 1 }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 4000); // Change image every 2 seconds
  }
  function scrollfunc()
  {
    var elem = document.getElementById("Home-head");
    elem.scrollIntoView({behavior: 'smooth'});
  }

</script>
