.Flash-error{
  color: darkred;
  margin-top:2vw;
  width: 40%;
  font-size: 1.3vw;
  background-color: rgb(245, 191, 191);
  padding: 1vw;
  line-height: 20px;
  border-radius: 5px;
  text-align: center;
}
