
.AddDel {
  display: block;
  background: linear-gradient(90deg,mediumvioletred,#6827b0);;
  margin-left: 25vw;
  margin-top: 5vw;
  width: 70%;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 1.4vw 2vw;
  color: #ffffff;
}

.New-Menu,.Select-Menu{
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}
.Submit-button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Menu-title,.Edit,.Activemenu-title,.Menuitem-title{
  font-size: 2vw;
  padding: 0.5vw 0vw;
  color: #ffffff;
  margin-top: 1.5vw;
  display: flex;
  justify-content: center;
  background-color: mediumvioletred;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.10);
}
.AddMenu,.Active,.SelectMenu,.SelectItem-head,.MenuSelected-head{
  font-size: 1.5vw;
  padding-top: 0.2vw;
}
.Horizontal {
  margin-top: 2vw;
}
.MenuName,.ItemName,.Price,.Price1{
  border: 1px solid transparent;
  font-size: 1.2vw;
  margin-left: 2vw;
  padding: 0.2vw 0.5vw;
  border-radius: 5px;
  width: 40%;
}
.Price{
  margin-left: 11vw;
}
.Price1{
  margin-left: 5.9vw;
}
.Add,.Select,.Select2{
  color: white;
  background-color: mediumvioletred;
  border: 1px solid #BFB8CC;
  border-radius: 10px;
  height: 3vw;
  margin-top: 1.6vw;
  font-size: 1.5vw;
  padding: 0.4vw 2vw;
}
.Add:hover,.Select:hover,.Select2:hover{
  background-color: #2196f3;
  color: black;
}

.Select-Item {
  width: 90%;
  margin-top: 2vw;
  margin-left: 4vw;
  display: flex;
}
.Select-Item1 {
  margin-top: 1.7vw;
  width: 30%;
  margin-left: 1vw;
}
.Select-Item2 {
  width: 70%;
  margin-left: 7vw;
}
.Select-Item1 select {
  margin-top: 1.5vw;
  font-size: 1.3vw;
}

.Select-Item2 div {
  display: flex;
  margin-bottom: 1.5vw;
}

.Description1 {
  font-size: 1.5vw;
  margin-left: 5vw;
  margin-top: 3.5vw;
  width: 30%;
}

.Category {
  margin-left: 2.6vw;
}
.Select-Item3 div {
  display: flex;
}
.TextArea {
  margin-left: 2vw;
  width: 55%;
  height: 10vw;
  font-size: 1.3vw;
  margin-top: 2vw;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.7vw 1vw;
  line-height: 1.8vw;
}
.Image-addr {
  margin-top: 3vw;
  margin-left: 1.7vw;
  width: 55%;
  font-size: 1.2vw;
  padding: 0.2vw 0.5vw;
}

.Select-Menu select {
  margin-left: 1vw;
  font-size: 1.3vw;
}


.Select1{
  background-color: rgb(18, 104, 18);
  color: white;
  border-radius: 10px;
  margin-top: 1.6vw;
  font-size: 1.5vw;
  border: 1px solid transparent;
  padding: 0.5vw 2vw;
}

.Select1 {
  margin-left: 3vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.Select-menu,
.Select-category {
  font-size: 1.2vw;
}
.Menu-Selected {
  margin-left: 5.6vw;
  font-size: 1.3vw;
}
.Select-menu {
  margin-left: 1.5vw;
  width: 56%;
}
.Select-category {
  width: 40%;
  margin-left: 3vw;
}
.Edit-menuitem1,
.Edit-menuitem2 {
  margin-left: 1vw;
}

@media only screen and (max-width: 600px) {
  .AddDel {
    margin: 8vw auto;
    width: 85%;
  }
  .AddDel h1 {
    font-size: 3.8vw;
  }
  .AddDel .Menu-title {
    margin-left: 25vw;
    font-size: 4vw;
  }
  .New-Menu {
    margin-top: 2vw;
    margin-left: 4vw;
    margin-bottom: 2vw;
  }
  .New-Menu .MenuName {
    padding: 1vw;
    font-size: 3vw;
    margin-top: 2vw;
    width: 40%;
  }
  .Add {
    margin-left: 33vw;
    padding-top: 1vw;
    padding-bottom: 4.5vw;
    font-size: 3vw;
    width: 20%;
  }
  .AddDel .Menuitem-title {
    font-size: 4vw;
    margin-left: 22vw;
  }
  .Select-Item {
    margin-top: 3vw;
    display: grid;
  }
  .Select-Item1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Select-Item1 h1 {
    margin-top: 1.6vw;
  }
  .Select-Item1 select {
    width: 50%;
    margin-top: 0;
    margin-left: 2vw;
    font-size: 3vw;
  }
  .Select-Item2 {
    width: 100%;
    margin-left: 0;
    margin-top: 3vw;
  }
  .Select-Item2 div {
    margin-top: 3vw;
  }
  .Select-Item .Select-Item2 input {
    font-size: 3vw;
    padding: 1vw;
  }
  .Name {
    margin-left: 4vw;
  }
  .Price {
    margin-left: 27vw;
  }
  .Category {
    margin-left: 7.5vw;
  }
  .AddDel .Select-Item3 {
    margin-top: 3vw;
    height: 30%;
  }
  .Description {
    line-height: 5vw;
  }
  .TextArea {
    height: 100%;
    font-size: 3vw;
  }
  .Image-addr {
    height: 10vw;
    padding: 0.5vw;
    font-size: 3vw;
    margin-bottom: 2vw;
    width: 60%;
  }
  .AddDel .Select-Menu {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }
  .Active {
    margin-top: 2vw;
  }
  .Select,
  .Select1,
  .Select2 {
    padding: 1vw 3.4vw;
    font-size: 3vw;
  }
  .Select {
    margin-left: 35vw;
  }
  .Select-Menu select {
    font-size: 3vw;
    width: 50%;
  }
}
