
.Report{
  display: flex;
  margin-top: 2vw;
  border-radius: 4px;
  margin-left: 25vw;
  color: #000000;
  font-family: sans-serif;
}
.Report h1{
  margin-right: 2%;
  font-size: 1.4vw;
  margin-left: 1vw;
  padding: 0.4vw 0.5vw;
}
.Report .Start,.End{
  font-size: 1.2vw;
  padding: 0vw 0.5vw;
  color: #453c52;
  border: 1px solid #BFB8CC;
  border-radius: 0.5vw;
  margin-right: 1vw;
}
.View{
  margin-left: 3vw;
  background-color: mediumvioletred;
  color: #fff;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  border: 1px solid #BFB8CC;
  font-family: sans-serif;
  padding: 0.4vw 0.5vw;
}


.Report-container {
  background: linear-gradient(90deg,mediumvioletred,#6827b0);
  margin-top: 3vw;
  width: 60vw;
  margin-left: 22.5vw;
  margin-bottom: 3vw;
  padding-bottom: 3vw;
  padding-top: 2vw;
}

.Report-table{
  margin:auto;
  width:85%;
  margin-top: 2.5vw;
  background-color: transparent;
  font-family: sans-serif;
}
.Report-table th{
  padding:1vw;
  font-size: 1.4vw;
  background-color: #6827b0;
  color: #fff;
}
.Report-table td{
  text-align: center;
  padding:1vw;
  font-size: 1.4vw;
}
.Orders-title1{
  font-size: 2vw;
  border-radius: 7px;
  color: white;
  font-family: sans-serif;
  width: 60%;
  margin-left: 23vw;
  background: rgba(255,255,255,0.1);
  padding: 1vw 2vw;
  margin-top: 5%;
  text-align: center;
  align-items: center;
}
.Orders-title{
  font-family: sans-serif;
  border-radius: 7px;
  color: #fff;
  font-size: 2vw;
  margin-left: 22vw;
  margin-top: 1.5vw;
}

.Title-box{
 display: flex;
 font-family: sans-serif;
}
.Filter-image{
  height: 50%;
  margin-left: 12vw;
  margin-top: 1.5%;
}
.Delivered{
  color: green;
}
.Pending{
  color: red;
}
.Date{
  display: flex;
  width: 85%;
  margin: 2vw auto;
  padding: 1vw 0vw;
  background-color: mediumvioletred;
  font-family: sans-serif;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.10);
}
.Date .Date-from{
  margin-left: 1vw;
  font-size: 1.4vw;
  margin-right: 13vw;
}
.Date .Date-to{
  font-size: 1.4vw;
  margin-right: 1vw;
}
.Date h1{
  font-size: 1.4vw;
  margin-left: 1vw;
}
.Details,.Details1{
  height: 10%;
  width: 8%;
  float: right;
  margin-right: 3vw;
}
.Modal-bg,.Filter-Modal{
  position: fixed;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  top:0;
  left:0;
  justify-content: center;
  align-items: center;
  display: none;
  transition:visibility 0s opacity 0.5s;
}

.Filter label{
 margin-left: 5vw;
}
.Box1{
  display: flex;
}
.Modal,.Filter{
  border-radius: 3px;
  position: relative;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.Filter{
  height: 40%;
  width:30%;
  font-size: 1.5vw;
}
.Apply{
  border:1px solid transparent;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 0.5vw;
  font-size: 1.4vw;
  margin-left: 11vw;
  width: 30%;
}
.Filter input[type="radio"]{
  margin-right: 2vw;
}
.OrderList ul li{
  display: flex;
}
.Title-box h2{
  font-size: 1.7vw;
  margin-top: 1.5vw;
  margin-left: 0.5vw;
}
.Display-name,.Display-name1{
  width: 60%;
}
.Display-name1{
  font-weight: 600;
}
.Display-total{
  text-align: right;
  margin-right: 3%;
  width: 50%;
}
.Display-total1{
  text-align: right;
  margin-right: 3%;
  width: 20%;
}
.Modal-close{
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
}
.Modal ol{
  margin-top:20px;
  font-size: 1.4vw;
}
.Modal h1{
  margin-left:2%;
  margin-bottom: 3%;
  font-weight:bolder ;
}
.Modal p{
  margin-bottom:1%;
  margin-left:15%;
}
.Box1 h2{
  margin-bottom: 2%;
  margin-left: 2%;
  font-weight: 600;
}

.Border{
  border: 2px solid red;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.CheckBox{
  margin-top: 0;
  transform: scale(1.7);
  margin-left: 1vw;
  margin-right: 0.7vw;
}
@media screen and (max-width:600px){
  .Report{
   margin-top:13vw;
   height: 10vw;
   margin-left: 11vw;
   width: 80%;
  }
  .Report h1{
    font-size: 3.3vw;
  }
  .Report input{
    height: 5vw;
    padding:1vw 1vw;
    font-size: 2vw;
    width: 100%;
  }
  .View{
    margin-left: 42%;
    height:8vw ;
    padding: .8vw 2vw;
    font-size: 2.7vw;
  }
}
