.OrderContainer {
  background-color: #def2f1;
  width: 70%;
  margin: auto;
  margin-bottom: 5vw;
}
.Report {
  display: flex;
  margin-top: 2vw;
  padding-top: 2vw;
  border-radius: 4px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}
.Report h1 {
  margin-right: 2%;
  font-size: 1.5vw;
  margin-left: 1vw;
  padding: 0.4vw 0.5vw;
}
.Current-user1 {
  display: flex;
  margin-left: 10vw;
  padding-top: 2vw;
  font-size: 1.8vw;
}
.Current-user1 h1 {
  font-weight: 600;
}
.Current-user1 p {
  margin-left: 1.4vw;
}
.Start,
.End {
  font-size: 1.2vw;
  padding: 0.6vw;
  color: #453c52;
  border: 1px solid #bfb8cc;
  border-radius: 0.5vw;
  margin-right: 1vw;
  width: 20%;
}
.View {
  margin-left: 30vw;
  justify-content: center;
  background-color: #2f2869;
  margin-top: 2vw;
  color: #fff;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  border: 1px solid #bfb8cc;
  font-family: sans-serif;
  padding: 0.4vw 0.5vw;
  margin-bottom: 1.5vw;
}
.Report-table {
  margin: auto;
  width: 85%;
  margin-top: 1.5vw;
  background-color: transparent;
  font-family: sans-serif;
  background-color: #9ad9f0;
  border-radius: 20px;
}
.Report-table th {
  padding: 1vw;
  font-size: 1.4vw;
  background-color: #2f2869;
  color: #fff;
}
.Report-table td {
  text-align: center;
  padding: 1vw;
  font-size: 1.4vw;
}
.Orders-title1 {
  font-size: 2vw;
  border-radius: 7px;
  color: white;
  font-family: sans-serif;
  width: 60%;
  margin-left: 23vw;
  background: rgba(255, 255, 255, 0.1);
  padding: 1vw 2vw;
  margin-top: 5%;
  text-align: center;
  align-items: center;
}
.Orders-title,
.Orders-title1,
.Orders-title2 {
  font-family: sans-serif;
  border-radius: 7px;
  color: #fff;
  font-size: 2vw;
  margin-left: 22vw;
  padding: 0.7vw;
  background-color: #2f2869;
}
.Orders-title2 {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
}
hr {
  margin-bottom: 1.5vw;
}
.Orders-title1 {
  width: auto;
  margin: auto;
}
.Report-container {
  margin-left: 2vw;
}
.Title-box {
  display: flex;
  font-family: sans-serif;
  margin: auto;
  justify-content: center;
  margin-bottom: 2vw;
}
.Filter-image {
  width: 2.3vw;
  height: 2.3vw;
  margin-left: 12vw;
  margin-top: 1.5%;
}
.Delivered {
  color: green;
}
.Pending {
  color: red;
}
.Date,.Date1 {
  display: flex;
  width: 85%;
  margin-left: 4vw;
  margin-top: 2vw;
  padding: 1vw 0vw;
  background-color: #2f2869;
  font-family: sans-serif;
  color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Date div {
  display: flex;
  margin-right: 2vw;
  font-size: 1.4vw;
}
.Date .Date-from {
  font-size: 1.4vw;
  margin-right: 13vw;
}
.Date .Date-to {
  font-size: 1.4vw;
  margin-right: 1vw;
}
.Date h1 {
  font-size: 1.4vw;
  margin: 0vw 1vw;
}
.Details,
.Details1 {
  height: 10%;
  width: 8%;
  float: right;
  margin-right: 3vw;
}
.Modal-bg,
.Filter-Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  transition: visibility 0s opacity 0.5s;
}

.Filter label {
  margin-left: 5vw;
}
.Box1 {
  display: flex;
}
.Modal,
.Filter {
  border-radius: 3px;
  position: relative;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Filter {
  height: 40%;
  width: 30%;
  font-size: 1.5vw;
}
.Apply {
  border: 1px solid transparent;
  background-color: #2f2869;
  color: white;
  border-radius: 10px;
  padding: 0.5vw;
  font-size: 1.4vw;
  margin-left: 11vw;
  width: 30%;
}
.Filter input[type="radio"] {
  margin-right: 2vw;
}
.OrderList ul li {
  display: flex;
}
.Title-box h2 {
  font-size: 1.7vw;
  margin-top: 1.5vw;
  margin-left: 0.5vw;
}
.Display-name,
.Display-name1 {
  width: 60%;
}
.Display-name1 {
  font-weight: 600;
}
.Display-total {
  text-align: right;
  margin-right: 3%;
  width: 50%;
}
.Display-total1 {
  text-align: right;
  margin-right: 3%;
  width: 20%;
}
.Modal-close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
}
.Modal ol {
  margin-top: 20px;
  font-size: 1.4vw;
}
.Modal h1 {
  margin-left: 2%;
  margin-bottom: 3%;
  font-weight: bolder;
}
.Modal p {
  margin-bottom: 1%;
  margin-left: 15%;
}
.Box1 h2 {
  margin-bottom: 2%;
  margin-left: 2%;
  font-weight: 600;
}
.Border {
  border: 2px solid red;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.CheckBox {
  margin-top: 0;
  transform: scale(1.7);
  margin-left: 1vw;
  margin-right: 0.7vw;
}
.TurnOver {
  font-size: 2.5vw;
  margin-top: 3vw;
  padding-bottom: 2vw;
  text-align: center;
  font-family: sans-serif;
}
.Date1 {
  margin-left: 5vw;
  justify-content: center;
  font-size: 1.5vw;
}
.Date1 h2 {
  margin-left: 1vw;
}
@media screen and (max-width: 600px) {
  .OrderContainer {
    width: 90%;
    margin-top: 10vw;
  }
  .Report {
    height: 10vw;
    padding: 0 2vw 0 2vw;
    margin-bottom: 3vw;
  }
  .Report h1 {
    font-size: 3.3vw;
    line-height: 4vw;
  }
  .Report input {
    height: 5vw;
    font-size: 2.5vw;
    width: 70%;
    border-radius: 5px;
  }
  .View {
    margin-left: 35vw;
    font-size: 3.2vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
    border-radius: 5px;
  }
  .Orders-title,
  .Orders-title1,
  .Orders-title2 {
    font-size: 3.5vw;
    margin-top: 2vw;
    padding: 1vw 2vw 1vw 2vw;
  }
  .Orders-title2 {
    width: 40%;
    justify-content: center;
    margin-top: 5vw;
  }
  .Title-box h2 {
    font-size: 3.5vw;
  }
  .Filter-image {
    width: 4vw;
    height: 4vw;
  }
  .Date {
    margin-top: 5vw;
    padding: 1.6vw;
  }
  .Date div h1,
  .Date div h2 {
    font-size: 3vw;
  }
  .Report-table {
    margin-top: 5vw;
  }
  .Report-table th {
    font-size: 3vw;
  }
  .Report-table td {
    font-size: 3vw;
    padding: 2vw;
    color: #000000;
  }
  .Details1 {
    width: 3.8vw;
    height: 3.8vw;
  }
  .Modal {
    width: 80%;
  }
  .Filter {
    width: 70%;
    font-size: 4vw;
  }
  .Modal ol {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }
  .CheckBox {
    transform: scale(1);
  }
  .Modal-close {
    width: 5vw;
    height: 5vw;
    margin: 1vw 1.5vw 0 0;
  }
  .Current-user1 {
    font-size: 4vw;
    margin-bottom: 5vw;
    justify-content: center;
  }
  .Apply {
    margin-left: 25vw;
    font-size: 4vw;
    padding: 1vw;
    border-radius: 7px;
  }
  .TurnOver {
    font-size: 4vw;
    margin-top: 6vw;
    padding-bottom: 6vw;
  }
  .Date1 {
    font-size: 2.7vw;
    padding: 1.5vw;
  }
}
