.Srch .Search-img {
  height: 3vw;
}
.Srch,
.Srch1 {
  justify-content: center;
  display: flex;
}
.Search3,
.Search4 {
  margin-right: 1.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #dad6d6;
  color: #1e1e1e;
  height: 2.5vw;
  width: 30%;
  font-size: 1.3vw;
  padding-left: 1vw;
}
.View-details {
  background-color: #2f2869;
  font-size: 1.3vw;
  color: rgb(250, 248, 248);
  padding: 0.4vw 0.7vw;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 2.5vw;
}
.Search-container1 {
  background-color: #def2f1;
  margin: auto;
  width: 50%;
  font-family: sans-serif;
  margin-top: 2.5vw;
  padding-bottom: 1.5vw;
  border-radius: 30px;
  margin-bottom: 2vw;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 7px rgb(109, 107, 107);
}
.Search-container1 .Not-found {
  font-size: 1.7vw;
  text-align: center;
  margin-top: 2vw;
}
.Search-details {
  display: flex;
  margin-top: 3.5vw;
  margin-left: 3.5vw;
}
.Search-detailshead {
  font-size: 1.6vw;
}
.Search-detailshead2 {
  font-size: 1.5vw;
  background: #2f2869;
  margin-right: 2vw;
  padding: 0.8vw;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin-left: 2vw;
  margin-top: 2vw;
}
.User-png {
  width: 12%;
  margin-top: 0.5vw;
}
.Search-container1 p {
  margin-left: 1vw;
  font-size: 1.4vw;
}
.Search-details1 {
  margin-top: 3.5vw;
  margin-left: 1vw;
}
.Search-details2 {
  display: flex;
}
.Search-details2 {
  margin-left: 3.5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.Search-details p,
.Search-details1 p,
.Search-details2 p {
  font-size: 1.6vw;
}
.Search-table th {
  background-color: rgb(148, 183, 218);
  padding: 0.4vw;
  border: 2px solid black;
}
.Search-table td {
  text-align: center;
  border: 2px solid black;
  padding: 0.7vw;
}
.Search-table {
  margin-top: 0.2vw;
  margin-left: 4vw;
  width: 58%;
  display: none;
}
.User-order {
  margin-left: 3.5vw;
  padding: 0.7vw;
  font-size: 1.5vw;
  background-color: #2f2869;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
.User-order1 {
  padding-top: 1.5vw;
  padding-bottom: 4vw;
  display: flex;
  justify-content: center;
}

.Searchcontainer1-image {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .Search-container1 {
    width: 70%;
    margin-top: 7vw;
  }
  .Search-container1 .Not-found {
    font-size: 3.5vw;
  }
  .Srch {
    margin-top: 5vw;
  }
  .Search3 {
    width: 40%;
    font-size: 3vw;
    padding: 3.5vw;
  }
  .View-details {
    font-size: 3vw;
    padding-bottom: 4vw;
    margin-top: 1vw;
  }
  .Search-img {
    display: none;
  }
  .Unordered-list1 {
    width: 40%;
    margin-left: 19vw;
  }
  .Checker-list {
    font-size: 3.5vw;
    padding-top: 2vw;
    padding-bottom: 1.7vw;
  }
  .User-order {
    font-size: 2.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  .Search-container1 h1,
  .Search-container1 p {
    font-size: 3.5vw;
    line-height: 4vw;
    margin-top: 1.2vw;
  }
  .Search-detailshead2 {
    padding: 0.5vw;
  }
  .User-title {
    margin-bottom: 2vw;
  }
  .Search-details,
  .Search-details1,
  .Search-details2 {
    margin-left: 4vw;
  }
  .Search-container1 {
    width: 80%;
  }

}
