
.grandtotal{
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  font-size: 1.4vw;
  color: #fff;
}

.Desc{
  padding: 2.6vw 2vw;
  margin-bottom: 3vw;
  width: 50vw;
  margin: 0 auto;
  background: linear-gradient(90deg,mediumvioletred,#6827b0);
}
hr{
  color: #fff;
}

.Empty{
  margin-top: 5%;
}

.Empty-head{
  margin-bottom: 3vw;
  text-align: center;
  font-size: 2vw;
  color: #fff;
}

*{
  box-sizing: border-box;
}
.Desc-detailscontainer{
  width: 20vw;
  margin: 0 auto;
  margin-bottom: 2.6vw;
}
.Desc-details{
  margin-bottom: 1.4vw;
  text-align: center;
  font-size: 1.4vw;
}
.DescContent-head{
  font-size: 1.4vw;
  margin-bottom: 2.4vw;
}
.Desc-content{
  margin-bottom: 2.6vw;
  line-height: 2.3vw;
  font-size: 1.4vw;
  color: #000;
}
.Back{
  background: mediumvioletred;
  color: #fff;
  border-style: none;
  font-size: 1.4vw;
  margin: 1.4vw 2vw;
  font-family: sans-serif;
  border-radius: 0.5vw;
  padding: 0.4vw 0.7vw;
  border: 1px solid #BFB8CC;
}

.Back:hover{
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}

.cartitem-delete{
  transform: scale(1.3);
}

.image{
  width: 20vw;
  height: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width:768px){
  .cartitem-delete{
    width: 2.6vw;
  }
  .Desc{
    width: 65vw;
  }
  .Desc-detailscontainer{
    width: 44vw;
  }
  .grandtotal{
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 2.9vw;
  }
  .image{
    margin-top: 2vw;
    height: 44vw;
    width: 44vw;
  }
  .Desc-details{
    font-size: 2.9vw;
    margin-bottom: 2.9vw;
    color: #fff;
  }
  .DescContent-head{
    font-size: 3.1vw;
    margin-bottom: 1.4vw;
  }
  .Desc-content{
    margin-bottom: 1.4vw;
    line-height: 4.5vw;
    font-size: 2.9vw;
    color: #fff;
  }
  .Back{
    font-size: 2.9vw;
    padding: 0.7vw 0.9vw;
    border-radius: 0.8vw;
    margin-left: 4.5vw;
    border: none;
  }
  .Empty-head{
    font-size: 2.9vw;
  }
  .Empty{
    margin-top: 9%;
  }
}
