
.FormSection-title{
  font-size: 3vw;
  margin-top: 3%;
  margin-bottom: 3vw;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}
.Signup-form,.Signin-form{
  background: #b565a7;
}
.Form-section{
  margin-bottom: 2vw;
}
.FormSection-new{
  color: #fff;
  font-size: 1.4vw;
  font-family: sans-serif;
  display: grid;
}
.FormSection-signin,.FormSection-signup{
  text-align: center;
}
.FormInput-label{
  font-size: 1.4vw;
  margin-bottom: 1vw;
  color: #fff;
  font-family: sans-serif;
}
.FormSection-text{
  font-size: 1.4vw;
  margin: 1.5vw 0vw;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.Form-input{
  font-size: 1.2vw;
  color: #555555;
  padding: 0.4vw 1vw;
  border-radius: 1vw;
  width: 17vw;
  border: none;
  border-style: none;
  outline: none;
}
.Form-submit{
  color: #fff;
  background-color: mediumvioletred;
  padding: 0.5vw 0.7vw;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  border: none;
  font-family: sans-serif;
  margin-bottom: 1.5vw;
}

.Form-link{
  text-decoration: none;
  color: #fff;
  background-color: mediumvioletred;
  padding: 0.5vw 0.7vw;
  font-size: 1.4vw;
  border-style: none;
  border-radius: 0.5vw;
  font-family: sans-serif;
  margin-top: 1vw;
}
.Form-submit:hover{
  color: #fff;
  background-color: #6827b0;
  border-radius: 0.5vw;
}
.UsersNew{
  padding: 3vw 4vw;
  padding-bottom: 1vw;
  width: 25vw;
  margin: 0vw auto;
  margin-top: 4vw;
}
.FormSection-Image{
  width: 40vw;
  height: 37vw;
}
@media only screen and (max-width:768px){
  .FormSection-title{
    font-size: 6vw;
    margin-top: 12%;
    margin-bottom: 6vw;
  }
  .Form-section{
    margin-bottom: 4vw;
  }
  .FormInput-label{
    font-size: 3.1vw;
  }
  .Form-input{
    font-size: 3vw;
    border-radius: 1.5vw;
    padding: 0.7vw 1.8vw;
    width: 34vw;
  }
  .Form-submit{
    font-size: 2.9vw;
    padding: 1vw 1.4vw;
    border-radius: 0.8vw;
  }
  .UsersNew{
    padding: 8vw 8vw;
    width: 50vw;
  }
}
